/*
 Theme Name:   GeneratePress Child
 Theme URI:    https://govbrief.today
 Description:  Child theme for GeneratePress
 Template:     generatepress
 Version:      1.0.0
*/

/* Add your custom CSS below this line */
